@import "settings";

@import "node_modules/govuk-frontend/govuk/all.scss";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-nav";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

.govuk-header__link--service-name {
  @include govuk-font($size: 24, $weight: 100);
  font-weight: 100;
}

.govuk-footer__copyright-logo{
  background-image: none;
  padding-top: 0;
}
