// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
$govuk-font-family: 'Helvetica Condensed Light','Helvetica Neue',Arial,sans-serif;

/* Wellington City Council colour */
$govuk-brand-colour: #ffcc00;

@import "application";

@import "node_modules/govuk-frontend/govuk/core/_all";
@import "node_modules/govuk-frontend/govuk/helpers/_typography";

.govuk-header__link--service-name {
  @include govuk-font($size: 24, $weight: 100);
  font-weight: 100;
}

.govuk-footer__copyright-logo{
  background-image: none;
  padding-top: 0;
}
